<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

{% assign settings = shop.metafields.ostad_contact.settings.value %}

<h2>{{ settings['customization']['title'] }}</h2>
<br/>
<div class="container">
    <div id="ostad-form-message" style="font-size: 16px; font-weight: bold;"></div>
  <form id="ostad-form" action="https://dear-workable-earwig.ngrok-free.app/storefront/form" method="post">
    <label for="name">{{ settings['form-labels']['name'] }}</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="email">{{ settings['form-labels']['email'] }}</label>
    <input type="text" id="email" name="email" placeholder="Your email..">


    <label for="subject">{{ settings['form-labels']['subject'] }}</label>
    <input type="text" id="subject" name="subject" placeholder="Subject">

    <label for="message">{{ settings['form-labels']['message'] }}</label>
    <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>

      <input type="hidden" name="shop" value="{{ shop.domain }}">

    <input type="submit" value="Submit">

  </form>
</div>

<script>
    document.querySelector('#ostad-form').addEventListener('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(e.target);
        let url = e.target.action;
        fetch(url, {
            method: 'POST',
            body: formData
        }).then(async function (response) {
            let msgDiv = document.querySelector('#ostad-form-message');
            let data = await response.json();
            let msg = data.message;
            if (response.ok) {
                msgDiv.style.color = 'green';
            } else {
                msgDiv.style.color = 'red';
            }
            msgDiv.innerHTML = msg;
        });
    });
</script>

{% schema %}
{
  "name": "Ostad - Contact Form",
  "target": "section",
  "enabled_on": {
        "templates": ["index", "page", "product"]
  },
  "settings": [
  ]
}
{% endschema %}

